# Exclude build/test files from archive
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.github            export-ignore
/.editorconfig      export-ignore
/.idea              export-ignore

/tools              export-ignore
/.phive             export-ignore
/phpunit.xml        export-ignore
/Makefile           export-ignore

/tests              export-ignore
/mocks              export-ignore

# Configure diff output for .php and .phar files.
*.php diff=php
*.phar -diff
